*{
    margin: 0;
    padding: 0;
}

.btn{
    border-radius: 1.25rem;
    border-style: double;
    font-family: 'Abril Fatface', cursive;
}

.orderbtn:hover{
    color:white;
    background-color: orange;
}

.orderbtn{
    color:black;
    background-color: white;
}

.schedulebtn:hover{
    background-color: orange;
}

.schedulebtn{
    color: white;
}

.logotext{
    font-size: 1.5rem;
    color: black;
    font-family: 'Abril Fatface', cursive;
}

.n_list{
    /* display:inline; */
    margin: 0.125rem 2.625rem;
}

.navbar{
    position: sticky;
    width: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menuclass{
    margin: 2% 5% 18% 12%;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
}

#navbarNav ul li a:hover{
    color:orange;
}

#logoid:hover{
    color:orange;
}

#video_ins{
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    background: linear-gradient(
        180deg, #1d1d23 0%, rgba(0,0,0,0.38) 100%);;
}

video{
    /* min-width: 50vw;
    min-height: 100vh; */
    height: 100%;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 8rem;
    left: 15rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */ 
}

.overlay2{
    position: absolute;
    top: 27rem;
    left: 24rem;
}

#front_img{
    height: 4rem;
    width: 20rem;
}

.Paraclass{
    color: white;
    font-size: 1.8rem;
    font-family: 'Abril Fatface', cursive;
}

.heading_class{
    color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.25rem;
}

.cart{
    height: 3.5rem;
    width: 3.5rem;
    filter: invert(1);
}

.heading_class2{
    color: white;
    display: inline;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.25rem;
}

.frontpg{
    height: 31.25rem;
    width: 31.25rem;
}

/* .promotions{
    background-image: url("bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.featurette-heading{
    color: orange;
    margin: 6.25rem 6.25rem 0.625rem 6.25rem;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 0rem;
    font-family: 'Abril Fatface', cursive;
}

.lead{
    color: black;
    font-size: 1.6rem;
    margin: 0.125rem 0.125rem;
    font-family: 'Abril Fatface', cursive;
}

.features_heading{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin: 0rem 22.5rem 0rem 22.5rem;
    font-family: 'Abril Fatface', cursive;
}

.btn-dark:hover{
    background-color:whitesmoke;
    color: palevioletred;
}

.end{
    /* background-color: black; */
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.foot{
    height: 1.5rem;
    width: 1.5rem;
}

/* #premenu::before{
    content: "";
    background: url("menu2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 145%;
    width: 100%;
    z-index: -1;  
    opacity: 0.9;
    top:0%;
    left:0%;
} */

#premenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-color: black;
    border-radius: 0.938rem;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    border-style: double;
}

.card img{
    border-radius: 0.938rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.frontpg{
    width: 21.875rem;
    height: 21.875rem;
}

#about_us{
    margin: 12.5rem 2.5rem;
    position: absolute;
}

.About_us_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    position: relative;
    top: 2%;
    left: 55%;
}

.about_us_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 2%;
    left: 9%;
    bottom: 3%;
    font-family: 'Abril Fatface', cursive;
}

.inside_about{
    position: relative;
    top: 3%;
    left: 56%;
    height: 43.75rem;
    width: 21.875rem;
}

.inside_about2{
    position: relative;
    top: 3%;
    left: 57%;
    height: 43.75rem;
    width: 21.875rem;
}

#about_us{
    position: relative;
    /* background-color: orange; */
}

.abt_us{
    position: absolute;
    top: 29%;
    left: 0%;
    /* position: static; */
    height: 75%;
    width: 55%;
    /* border: 2px solid red; */
    color: black;
    font-size: 1.8rem;
    font-family: 'Abril Fatface', cursive;
    /* font-family: 'Architects Daughter', cursive; */
    /* background-image: url("abtbg.webp"); */
    /* background-color: orange; */
    /* background-image: url("try.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 200%; */
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.footer_heading{
    color:orange;
    font-family: 'Abril Fatface', cursive;
}

.footer_txt{
    color: white;
    /* font-weight: bold; */
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}

.copyrightfooter{
    color: white;
    margin: 0rem 0rem 0rem 36rem;
    /* font-family: 'Abril Fatface', cursive; */
}

.footer_txt:hover{
    color: orange;
    font-weight: bold;
}

.facebookbtn{
    background-color: blue;
    margin: -4rem 0rem 0rem 40rem;
}

.instagrambtn{
    background-color: rgb(190, 148, 70);
    margin: -4rem 0rem 0rem 0rem;
}

.twitterbtn{
    background-color: lightblue;
    margin: -4rem 0rem 0rem 0rem;
}

.submitbtn{
    background-color: orange;
    color: black;
}

.submitbtn:hover{
    background-color: white;
    color: black;
}

.delicacies_img{
    background-image: linear-gradient(
180deg, #1d1d23 0%, rgba(0,0,0,0.38) 100%);
    opacity: 0.8;
    background-image: url('bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 100%;
    position: absolute;
}

.deli_heading{
    color: orange;
    display: inline;
    font-size: 5.5rem;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    top: 18%;
    left: 33%;
    text-align: center;
}

.deli_para{
    font-size: 2.2rem;
    color: white;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    top: 18%;
    left: 0%;
    text-align: center;
}

.del_img{
    position: relative;
    top: 18%;
    left: 32%;
    height: 8%;
    width: 35%;
    /* background-color: rgb(71, 69, 69);
    background: linear-gradient(
        180deg, #1d1d23 0%, rgba(0,0,0,0.38) 100%);;
    border-radius: 13px; */
}

.cardheading{
    color: orange;
    text-align: center;
    text-decoration: wavy;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
}

.card-text{
    color: black;
    font-size: 1.2rem;
    font-family: 'Abril Fatface', cursive;
}

.menubtn{
    color: black;
    font-size: 0.9rem;
}

.menubtn:hover{
    background-color: orange;
    color: white;
    outline: orange;
    font-size: 0.95rem;
}

/* login.css */
.loginimg{
    position: absolute;
    /* margin: 9rem 0rem 0rem 15rem; */
    margin: 8rem 0rem 0rem 35rem;
}

.login{
    position: relative;
    margin: 2rem 0rem 0rem 0rem;
    height: 12rem;
    width: 12rem;
}

.form-signin{
    height: 35rem;
    width: 25rem;
    /* margin: 2rem 0rem 0rem 54rem; */
    margin: 0rem 0rem 0rem 4rem;
}

.logincontainer{
    /* border-radius: 5rem; */
    background-color: white;
    /* border: 2px solid red; */
    height: 40rem;
    width: 55rem;
    margin: 1rem 0rem 1rem 25rem;
    border: 1px solid black;
    box-shadow: 5px 10px 18px;
}

.text-center{
    background-color: rgb(253, 245, 238);
    /* background-color: beige; */
    /* font-family: 'Abril Fatface', cursive; */
}

.login_to_signup{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.login_to_signup:hover{
    color: black;
    text-decoration: double;
    text-decoration: underline;
}

/* Signup */
.signupimg{
    position: absolute;
    /* margin: 9rem 0rem 0rem 15rem; */
    margin: 15rem 0rem 0rem 35rem;
}

.signupcontainer{
    background-color: white;
    height: 50rem;
    width: 55rem;
    margin: 1rem 0rem 1rem 25rem;
    border: 1px solid black;
    box-shadow: 5px 10px 18px;
}

.dropdown{
    margin: 0rem 0rem 0rem -9rem;
}

.premium_in_signup{
    margin: 0rem 0rem 0rem -9rem;
}

.checkbox{
    margin: 2rem 0rem 0rem -8rem;
}

/* Italian + restaurants */
.menuoption{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 1rem;
    padding: 2rem;
    /* grid-template-rows: 1fr 1fr; */
}

.menuheading{
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Satisfy', cursive;
    color: pink;
    text-decoration: underline;
    font-size: 5rem;
}

.menuheadingdiv{
    height: 7rem;
    width: 20rem;
    margin: 0rem 0rem 0rem 41rem;
}

.menuimg{
    position: relative;
    height: 2rem;
    width: 15rem;
    margin: -0.5rem 0rem 0rem -2rem;
}

.imghover {
    position: relative;
}
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 15rem;
    transition: .5s ease;
    backface-visibility: hidden;
    border-top-right-radius: 0rem;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.imghover:hover .image {
    opacity: 0.3;
}
  
.imghover:hover .middle {
    opacity: 1;
}

.cart_on_hover{
    height: 3.5rem;
    width: 3.5rem;
}

.card{
    border: 0.05rem solid rgb(214, 211, 211);
    border-radius: 0rem;
}

/* Restaurant italian */
.restaurant_heading_div{
    height: 19rem;
    width: 95rem;
    margin: 0rem 0rem 0rem 0rem;
    /* border: 2px solid red; */
}

.restaurant_img{
    position: absolute;
    height: 10rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14%;
    left: 45%;
}

.restaurant_heading{
    font-family: 'Satisfy', cursive;
    color: black;
    text-decoration: underline;
    font-size: 5rem;
    display: inline;
    position: relative;
    top: 13rem;
    left: 28rem;
}

.go_back{
    height: 4rem;
    width: 5rem;
    margin: 0rem 0rem 0rem -1rem;
}

.checked{
    color: orange;
}

.fa-star-half-full{
    color: orange;
}